---
layout: default
title: Busca
permalink: /busca/
---

<h1>>> Busca:</h1>
{% include search.html %}

<h1>Assuntos:</h1>
{% include tag-cloud.html %}


<h1>Mais recentes:</h1>
<ul class="post-list">
  {% for post in site.posts limit:10 %}
    {% include post-list-item.html post=post %}
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">← Anteriores</a>
  {% endif %}
  <span>Página {{ paginator.page }} de {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Próximas →</a>
  {% endif %}
</div>
{% endif %}