<div class="widget">
  <form action="https://buttondown.com/api/emails/embed-subscribe/divagar" method="post" target="_blank">
    <div class="newsletter-form">
      <input type="text" name="metadata__first-name" placeholder="Seu nome">
      <input type="email" name="email" placeholder="Seu e-mail" required>
      <input type="hidden" name="tag" value="blog-divagar">
      <input type="text" name="hp" style="display:none">
      <input type="hidden" name="redirect" value="https://divagar.blog/obrigado">
      <button type="submit">Inscrever</button>
    </div>
  </form>
  <p class="newsletter-note">A newsletter está hospedada no serviço <a href="https://www.buttondown.com">Buttondown</a>. Seu endereço de email não será utilizado para nenhuma outra finalidade além do envio dos textos. Alguns dados relativos a sua visita são utilizados de maneira estatística e anônima, de acordo com a <a href="https://buttondown.com/features/privacy">política de privacidade do Buttondown</a></p>
</div>
